* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  height: 80%;
  width: 50%;
  text-align: center;
  background: pinky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: url(./weather.jpg) no-repeat center center/cover;
}
.App input {
  width: 70%;
  padding: 0.2rem 1rem;
  border-radius: 5px;
  margin: 0.5rem 0;
}

.App .btn {
  background: rgba(180, 120, 9, 0.8);
  border: none;
  width: 80%;
  padding: 0.5rem;
  border-radius: 5px;
}
.App .btn:hover {
  background-color: rgba(180, 120, 9, 0.6);
  cursor: pointer;
}
.load {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 1rem;
}

.err {
  color: rgb(216, 8, 8, 0.9);
}
.weather {
  color: rgb(205, 240, 49);
  text-shadow: 1px 1px green;
  white-space: pre;
}
